footer
  .container
    .footer-content
      .footer-column
        h3 NordStyle
        p Premium Scandinavian-inspired furniture and home goods for modern living.
      .footer-column
        h3 Shop
        ul
          li: a(href="#") New Arrivals
          li: a(href="#") Best Sellers
          li: a(href="#") On Sale
          li: a(href="#") All Collections
      .footer-column
        h3 Help
        ul
          li: a(href="#") FAQ
          li: a(href="#") Shipping
          li: a(href="#") Returns
          li: a(href="#") Contact Us
      .footer-column
        h3 Connect
        ul
          li: a(href="#") Instagram
          li: a(href="#") Pinterest
          li: a(href="#") Facebook
          li: a(href="#") Twitter
    .footer-bottom
      p © 2025 NordStyle. All rights reserved.
